
body, html {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h3 {
    font-size: 26px;
}

.button-default {
    background-color: white;
    border-color: white;
    border-style: none;
    color: rgb(167, 167, 167);
    font-style: italic;
}

button:disabled {
    pointer-events: none; /* Prevents hover and click events */
    cursor: default; /* Changes the cursor to default to indicate non-interactivity */
}

hr {
    border: none;
    height: 1px;
    width: 95%;
    background-color: #bababa; /* Change the color as needed */
    margin: 0px; 

}

.text-column {
max-width: 75ch;
}

.stem-text {
    max-width: 60ch;
    font-size: 24px;
    line-height: 1.1;
    font-family: Calibri, Arial;
    }



.tippy-box .tippy-content .close-button {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.tippy-box .tippy-content .okay-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: white;
    color: #2478cc;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 4px;
    font-weight: bold; 
    padding: 8px 12px 8px 12px;
}

.tippy-content {
    background-color: #811ea8;
    border-radius: 4px;
    padding-right: 12px;
    padding-bottom: 64px;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 16px;
}

.tippy-box[data-placement^='top'] .tippy-arrow::before {
    border-top-color: #811ea8;
}

.tippy-box[data-placement^='bottom'] .tippy-arrow::before {
    border-bottom-color: #811ea8;
}

.tippy-box[data-placement^='left'] .tippy-arrow::before {
    border-left-color: #811ea8;
}

.tippy-box[data-placement^='right'] .tippy-arrow::before {
    border-right-color: #811ea8;
}



.main-container {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Existing styles */

p {
  
}


ul {
    margin:0px
}



.styleSetsButtons {
    display: flex;            /* Align children (buttons) in a flex row */
    flex-wrap: wrap;          /* Allow items to wrap to the next line */
    gap: 16px;                /* Space between buttons */
    padding: 10px;            /* Padding around the container */
    justify-content: center;  /* Center the buttons horizontally */
    align-items: center;      /* Align items vertically in the middle */
}

.checkbox-container {
    display: flex;
    align-items: center; /* Align checkbox and label text vertically */
    gap: 6px; /* Space between the checkbox and the label text */
}

.styleSetsButtons button {
    padding: 6px 8px;        /* Padding inside each button */
    cursor: pointer;          /* Cursor indicates clickable items */
    border: 1px solid #949494;   /* Border around the buttons */
    background-color: #f7f7f7;/* Light grey background for the buttons */
    border-radius: 5px;       /* Rounded corners for the buttons */
    transition: background-color 0.1s; /* Smooth transition for hover effect */
    font-size: 16px;
}

.styleSetsButtons button:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
}

.styleSetsButtons button.active {
    background-color: #4e4e4e; /* Change the background to a darker color */
    color: white;             /* Change text color to white */
    border-color: #4e4e4e;    /* Matching border color */
}

/* Target the checkbox by its id or class */
#fadingToggle {
    /* Scale the checkbox size; 1.5 times the original size */
    transform: scale(1.5);
    /* Optional: provide margin to avoid layout compression */
    margin: 0px;
    margin-right: 4px;
}

/* Target the checkbox by its id or class */
#borderWeightToggle {
    /* Scale the checkbox size; 1.5 times the original size */
    transform: scale(1.5);
    /* Optional: provide margin to avoid layout compression */
    margin: 0px;
    margin-right: 4px;

}

/* custom drag image blue html tile before white spacer border added */
/* #customDragImage {
    outline-style: solid;
    outline-width: 3px;
   background-color: #2478cc;
   outline-color: #002357;
    z-index: 10000;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.23)
} */



/* drag style with border */
  /* #customDragImage {
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 2px;
    outline-color: #1159A7;
    background-color: #2478cc;
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 6px rgba(0, 0, 0, .25)
    } */


    #customDragImage {
    outline-style: none;
    outline-width: 3px;
    outline-offset: 2px;
    background-color: #2478cc;;
    outline-color: #1159A7;
    transform: scale(1.05);
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 4px rgba(0, 0, 0, .20)
    }




#customSVGDragImage {
    outline-style: solid;
    outline-width: 5px;
   
   /*
    background-color: #2895FB;
    outline-color: #043B80;
   */
   
   background-color: #2478cc;
   outline-color: #34a56b;

    z-index: 10000;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.23)
}


#customDragImage-set2 {
    outline-style: solid;
    outline-width: 3px;
   
   /*
    background-color: #2895FB;
    outline-color: #043B80;
   */
   
   background-color: #B35F00;
   outline-color: #471F00;

    z-index: 10000;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.23)
}


#customDragImage-set3 {
    background-color: #2478cc;
    transform: translate(-3px, -3px);
     z-index: 10000;
     box-shadow: 1px 1px 0px 0px #002357, 2px 2px 0px 0px #002357, 3px 3px 0px 0px #002357, 4px 4px 0px 0px #002357;
}

#customSVGDragImage {
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 2px;
    background-color: white;
    outline-color: #002357;
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 4px rgba(0, 0, 0, 0.23);
}




.sourceTray {
    align-content: flex-start;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border: 0.8px solid rgb(199, 199, 199) !important;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    column-gap: 8px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Calibri, system-ui, sans-serif;
    font-size: 24px;
    justify-content: flex-start;
    line-height: 26.4px;
    margin: 0px;
    
    padding: 8px;
    position: relative;
    row-gap: 4px;
    text-decoration-skip-ink: none;
    text-rendering: optimizelegibility;
    z-index: 200;
}

.draggable {
    
    /*
    background-color: rgb(36, 120, 204);
    */
    position: relative;
    background-color: #1159a7;
    box-sizing: border-box;
    margin: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer; /* Updated cursor style */
    display: flex;
    font-family: Calibri, system-ui, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
border-style:none;
    padding: 16px 32px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, outline-color 0.2s ease; /* Add transition */
    text-align: start;
    text-decoration-skip-ink: none;
    text-rendering: optimizelegibility;
    user-select: none;
    outline: none; /* Removes default browser focus outline */
}

.draggable:hover {
    background-color: #2478cc;
}


.draggable-set2 {
    
    /*
    background-color: rgb(36, 120, 204);
    */
    position: relative;
    background-color: #1159a7;
    box-sizing: border-box;
    margin: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer; /* Updated cursor style */
    display: flex;
    font-family: Calibri, system-ui, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
border-style:none;
    padding: 16px 32px;
    text-align: start;
    text-decoration-skip-ink: none;
    text-rendering: optimizelegibility;
    user-select: none;
    outline: none; /* Removes default browser focus outline */
}




.draggable-set2:hover {
    background-color: #2478cc;
}


.draggable-faded {
    background-color: #677789;
}



/* this was the original style with no white inner border */
/* .draggable-selected {
    outline-style: solid;
    outline-width: 3px;

   background-color: #2478cc;
   outline-color: #002357;
    z-index: 10000;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.25)
} */





/* This is the outline style with border */

/* .draggable-selected {
outline-style: solid;
outline-width: 3px;
outline-offset: 2px;
background-color: #2478cc;;
outline-color: #1159A7;
z-index: 10000;
box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 6px rgba(0, 0, 0, .25)
} */


.draggable-selected {
    outline-style: none;
    /* outline-offset: 1px; */
    outline-width: 3px;
    outline-offset: 2px;
    background-color: #2478cc;;
    outline-color: #1159A7;
    transform: scale(1.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease, outline-color 0.2s ease; /* Add transition */
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 4px rgba(0, 0, 0, .20)
    }

.draggable-selected-set2 {
    outline-style: solid;
    outline-width: 3px;
    background-color: #B35F00;
    outline-color: #471F00;
    z-index: 10000;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.23)
}

.draggable-selected-set3 {

   background-color: #2478cc;
   transform: translate(-4px, -4px);
    z-index: 10000;
    box-shadow: 1px 1px 0px 0px #002357, 2px 2px 0px 0px #002357, 3px 3px 0px 0px #002357, 4px 4px 0px 0px #002357;
}

.draggable-selected-set2:hover {
    background-color: #B35F00;
}

/* draggable focus before addition of white spacer */
/* .draggable:focus-visible::after {
    content: '';
    position: absolute;
    left: -6px;   
    top: -6px;    
    right: -6px;  
    bottom: -6px; 
    border: 2px solid #043B80;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}  */

.draggable:focus-visible::after {
    content: '';
    position: absolute;
    left: -4px;   /* Adjust these values */
    top: -4px;    /* Adjust these values */
    right: -4px;  /* Adjust these values */
    bottom: -4px; /* Adjust these values */
    border: 2px solid #043B80;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.drag-location {

    align-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    column-gap: 16px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Calibri, system-ui, sans-serif;
    font-size: 24px;
    line-height: 26.4px;
    margin-top: 24px;
    padding: 8px;
    position: relative;
    row-gap: 12px;
    text-decoration-skip-ink: none;
    text-rendering: optimizelegibility;
    z-index: 200;
}

.drag-drop-set {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hidden-text {
    visibility: hidden;
}

.target {
    box-shadow: inset 0 0 0 2px #545454, 0px 3px 5px 1px rgba(0, 0, 0, 0.12);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 46px; /* Same padding as draggable buttons */
    box-sizing: border-box;
    font-family: Calibri, system-ui, sans-serif;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 700;
    /* pointer-events: none; */
}

.target-behind {
    position: absolute;
    /* width: 151.04px; */
    /* height: 58.38px; */
    background-color: #ffffff;
    z-index: -1;
    padding: 30px 46px;
    white-space: nowrap;
    border: none !important;
    /* outline: 2px solid #545454; */


}

.svg-target-behind {
    position: absolute;
    /* width: 151.04px; */
    /* height: 58.38px; */
    background-color: #ffffff;
    z-index: -1;
    box-sizing: inherit;
    padding: 14px;
    white-space: nowrap;
    border: none !important;
    /* outline: 2px solid #545454; */
}

.draggable-container:hover .target-highlighted {
    outline: solid;
    background-color: rgb(6 131 255 / 30%);
    cursor: pointer;
    outline-width: 3px !important;
    outline-style: dashed;
    outline-color:#2478CC;
}

.draggable-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 4px;
    align-items: center;
}

.border-weight-reduced {

    outline-width: 3px !important;
    outline-offset: -3px !important;
} 



.border-weight-reduced:hover {
    outline-width: 4px !important;
    outline-offset: -4px !important;
}

/* old style with outlines not dashed */
/* .target-highlighted {
outline: solid;
background-color: #d1e9ff;
outline-width: 3px;
outline-offset: -3px;
outline-color:#043B80;
pointer-events:all;
} */

.target-highlighted {
    background-color: rgba(36, 120, 204, 0.2);
    outline-color: #1159a7;
    outline-style: dashed;
    outline-width: 2px !important;
    box-shadow: inset 0 0 0 4px #ffffff, 0 0 0 0px #ffffff, 0px 3px 5px 1px rgba(0, 0, 0, 0.12);
}

.target-highlighted:hover {
    background-color: rgb(6 131 255 / 30%);
    cursor: pointer;
    outline-style: dashed;
    outline-width: 3px !important;
    outline-color:#1159a7;
    box-shadow: inset 0 0 0 5px #ffffff, 0 0 0 0px #ffffff, 0px 3px 5px 1px rgba(0, 0, 0, 0.12);
}

.targetHighlight-weight-reduced {
    outline-width: 4px !important;
    outline-offset: -4px !important;
}



.target-highlighted-set2 {
    outline: solid;
    background-color: #ffe1bf;
    outline-width: 4px;
    outline-offset: -4px;
    outline-color:#954f00;
    pointer-events:all;
    }

    .target-highlighted-set3 {
        outline: none;
        background-color: #d1e9ff00;
        outline-width: 2px;
        outline-offset: -2px;
        outline-color:#043B80;
        position: relative;
        pointer-events:all;
        /* box-shadow: inset 4px 0px 0px 0px #2769a7, inset 0px 4px 0px 0px #5c96cc; */
        }
       
        .target-highlighted-set3::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: solid;
            border-top-style: inset;
            border-top-color: #2192fa;
            border-left-style: inset;
            border-left-color: #bedefc;
            border-right-style: solid;
            border-bottom-style: solid;
            box-sizing: border-box;
            border-right-width: 2px;
            border-right-color: #3f6386;
            border-bottom-color: #4b84b9;
            border-top-width: 5px;
            border-bottom-width: 2px;
            border-left-width: 5px;
            background-color: #d1e9ff;
            z-index: -1;
            box-shadow: inset 10px 10px 10px -6px rgba(0, 0, 0, 0.12);
            }

            .target-highlighted-set3:hover::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: solid;
                border-top-style: inset;
                border-top-color: #2192fa;
                border-left-style: inset;
                border-left-color: #bedefc;
                border-right-style: solid;
                border-bottom-style: solid;
                box-sizing: border-box;
                border-right-width: 3px;
                border-right-color: #3f6386;
                border-bottom-color: #4b84b9;
                border-top-width: 8px;
                border-bottom-width: 3px;
                border-left-width: 8px;
                background-color: #d1e9ff;
                z-index: -1;
                box-shadow: inset 10px 10px 10px -6px rgba(0, 0, 0, 0.16);
                }


.target-highlighted-set2:hover {
    outline: solid;
    background-color: #f5cfa4;
    cursor: pointer;
    outline-width: 6px;
    outline-offset: -6px;
    outline-color:#ce6e00;
}


.target-highlighted-set3:hover {

    cursor: pointer;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color:#2478CC;
}

.draggable-highlighted {
    outline: none;
    outline-color: #043B80;
    outline-width: 4px;
    outline-offset: 2px;
    /* box-shadow: 0px 0px 0px 3px rgba(209,233,255,1); */
}


.draggable-highlighted-thin-border  {
    outline: none;
    outline-color: #043B80;
    outline-width: 3px !important;
    outline-offset: 2px;
    /* box-shadow: 0px 0px 0px 3px rgba(209,233,255,1); */
}

.draggable-highlighted-thin-border:hover  {
    outline: none;
    outline-color: #043B80;
    outline-width: 4px !important;
    outline-offset: 2px;
    /* box-shadow: 0px 0px 0px 3px rgba(209,233,255,1); */
}


.draggable-highlighted-set2 {
    outline: none;
    outline-color: #954f00;
    outline-width: 4px;
    outline-offset: 2px;
    box-shadow: 0px 0px 0px 3px rgb(255 225 191);
}

.draggable-highlighted.draggable:hover {
    outline: none;
    outline-color: #006ad3;
    outline-width: 6px;
    outline-offset: 2px;
    background-color: #1159a7;
   /* this added a graying effect when you hovered over */
    /* filter: grayscale(80%) saturate(75%); */
}

.draggable-highlighted.SVG-default-style:hover {
    outline: none;
    outline-color: #006ad3;
    outline-width: 6px;
    outline-offset: 2px;
   /* this added a graying effect when you hovered over */
    /* filter: grayscale(80%) saturate(75%); */
}

.draggable-highlighted-set2:hover {
    outline: none;
    outline-color: #ce6e00;
    outline-width: 6px;
    outline-offset: 2px;
    background-color: #917f6b;
    box-shadow: 0px 0px 0px 3px rgba(255, 225, 191, 1);
}

/* this added a graying effect when you hovered over */
/* .draggable-highlighted-hover {
    filter: grayscale(80%) brightness(130%);
} */

.draggable-highlighted-hover-set2 {
    outline: solid;
    outline-color: #8a007a;
    outline-width: 6px;
    outline-offset: 2px;
    background-color: #fad1ff;
}


.target-dragged-over {
    background-color: rgb(6 131 255 / 30%);
    cursor: pointer;
    outline-style: dashed;
    outline-width: 3px !important;
    outline-color:#1159a7;
    box-shadow: inset 0 0 0 5px #ffffff, 0 0 0 0px #ffffff, 0px 3px 5px 1px rgba(0, 0, 0, 0.12);
}

.target-dragged-over-set2 {
    outline: solid;
    background-color: #f5cfa4;
    outline-width: 6px;
    outline-offset: -6px;
    outline-color:#ce6e00;
}

.target-dragged-over-set3::after {
    content: '';
    position: absolute;
    border: solid;
    border-top-style: inset;
    border-top-color: #3da2ff;
    border-left-style: inset;
    border-left-color: #9acfff;
    border-right-style: solid;
    border-bottom-style: solid;
    box-sizing: border-box;
    border-right-width: 3px;
    border-right-color: #3f6386;
    border-bottom-color: #4b84b9;
    border-top-width: 7px;
    border-bottom-width: 3px;
    border-left-width: 7px;
    background-color: #d1e9ff;
    z-index: -1;
}

.target-highlighted-set3:hover {

    cursor: pointer;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color:#2478CC;
}


.target:focus-visible::after,
[data-component="DropZone"].target-highlighted:focus-visible::after {
    content: '';
    position: absolute;
    left: -3px;   /* Adjust these values */
    top: -3px;    /* Adjust these values */
    right: -3px;  /* Adjust these values */
    bottom: -3px; /* Adjust these values */
    border: 2px solid #043B80;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
}

.draggable-highlighted:focus-visible,
.draggable-highlighted:focus-visible::after {
    /* Focus-visible styles */
    content: '';
    /* position: relative; */
    /* left: -12px; */
    /* top: -12px; */
    /* right: -12px; */
    border: none;
    /* bottom: -12px; */
    /* border: 2px solid #043B80; */
    outline-color: white;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -4px;
    /* background-color: #658db5; */
    outline-color: #00478e;
    outline-width: 2px;
    outline-offset: 3px;
}


.draggable-highlighted:hover,
.draggable-highlighted:focus-visible {
    /* Shared hover and focus styles */

    outline-color: #006ad3; /* Hover outline color */
    outline-width: 6px; /* Hover outline width */
    outline-offset: 2px; /* Hover outline offset */
}




.SVG-default-style {
    /* Define your SVG default styles here */
    cursor: pointer;
    line-height: 0px;
    /* Other styles as needed */
    outline: none; /* Removes default browser focus outline */
}

/* .SVG-default-style:hover {
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
} */


/* Styles for selected SVG draggables - ORIGINAL
.SVG-default-style-selected {
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 2px;
    background-color: white;
    outline-color: #002357;
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 4px rgba(0, 0, 0, 0.23);
} */


/* Styles for selected SVG draggables WITH BORDER */
/* .SVG-default-style-selected {
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 2px;
    background-color: white;
    outline-color: #1159A7;
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 2px 4px 6px rgba(0, 0, 0, .25)
} */

/* Styles for selected SVG draggables WITHout BORDER */
.SVG-default-style-selected {
    outline-style: none;
    outline-width: 3px;
    outline-offset: 2px;
    transform: scale(1.05);
    background-color: white;
    outline-color: #1159A7;
    transition: transform 0.2s ease, box-shadow 0.2s ease, outline-color 0.2s ease; /* Add transition */
    z-index: 10000;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 1px 4px 4px rgba(0, 0, 0, .20)
}




.SVG-focus-state:focus-visible::after {
    content: '';
    position: absolute;
    left: -4px;   /* Adjust these values */
    top: -4px;    /* Adjust these values */
    right: -4px;  /* Adjust these values */
    bottom: -4px; /* Adjust these values */
    border: 2px solid #043B80;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.SVG-default-style {
    position: relative; /* Needed for absolute positioning of ::after */
    /* Rest of your styles */
    margin: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, outline-color 0.2s ease; /* Add transition */
}

.svg-faded {
    filter: saturate(0.2) contrast(0.9);
}

.svg-drop-zone {
    font-size: 18px;
    font-family: sans-serif;
    color: gray;
    padding: 8px;
    border: dashed black 1px;
    border-radius: 6px;
}